* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

header {
  background-color: #202020;
}
header nav {
  display: flex;
  flex-wrap: wrap;
}
header nav a {
  color: white;
  width: 50%;
  text-align: left;
  padding: 1rem;
  font-size: 2.5rem;
  text-decoration: none;
}
header nav .cta-menu {
  background-color: #202020;
  color: white;
  border: none;
  text-align: right;
  width: 50%;
  padding: 1rem;
  font-size: 3rem;
}
header nav ul {
  display: none;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
}
header nav ul li {
  width: 100%;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  background-color: #202020;
}
header nav ul li:hover {
  background-color: #e5e5e5;
}
header nav ul li:hover a {
  color: black;
}
header nav ul li:hover button {
  color: black;
  background-color: #e5e5e5;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav ul li button {
  color: white;
  font-size: 2.5rem;
  padding: 1rem;
  background-color: #202020;
  border: none;
}
header nav ul.open {
  display: flex;
}
@media (min-width: 768px) {
  header nav ul {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 768px) {
  header nav .cta-menu {
    display: none;
  }
}

main {
  background-color: #363636;
  color: #363636;
  padding: 1rem;
  min-height: 100vh;
  background-image: url("../../img/1700.jpg");
}
main .intro {
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  background-color: #363636;
  color: #e5e5e5;
  margin: 1rem 0;
}
main .public, main .private {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #363636;
  padding: 1rem;
}
main .public h2, main .private h2 {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  color: white;
}
main .public article, main .private article {
  background-color: #363636;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #5e5e5e;
  border-left: 0.5rem solid #920505;
  box-shadow: 0 0 10px 0 #5e5e5e;
}
main .public article a, main .private article a {
  color: white;
  text-decoration: none;
  font-size: 3rem;
}
main .public article p, main .private article p {
  color: #e5e5e5;
}
main .cat-list {
  background-color: #363636;
}
main .cat-list article {
  display: flex;
  align-items: center;
}
main .cat-list article .cat-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
main .cat-list article .cat-box a {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 1rem;
}
main .cat-list article .cat-box p {
  color: #e5e5e5;
  font-size: 1.5rem;
  padding: 1rem;
}
main .cat-list article .post-box {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
}
main .cat-list article .post-box a {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 1rem;
}
main .cat-list article .post-box .recent-info {
  display: flex;
  align-items: center;
}
main .cat-list article .post-box .recent-info p {
  color: #e5e5e5;
  font-size: 1.5rem;
  padding: 1rem;
}
main .cat-list article .post-box .recent-info img {
  width: 100%;
  height: auto;
  max-width: 30px;
}
main .post {
  background-color: #363636;
  padding: 1rem;
}
main .post h2 {
  font-size: 2.5rem;
  text-align: center;
  color: white;
}
main .post .post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}
main .post .post-info p {
  font-size: 1.6rem;
  color: white;
}
main .post .post-info .content {
  width: 100%;
  padding: 1rem;
  font-size: 2.5rem;
  color: white;
}
main .post .post-info .update {
  text-align: right;
}
main .post .post-info img {
  width: 100%;
  height: auto;
  max-width: 30px;
}
main .reply {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  color: white;
  background-color: #363636;
  border-top: 1px solid #e5e5e5;
}
main .reply .moderation button {
  padding: 1rem;
  margin: 1rem;
  font-size: 2.5rem;
  border: none;
  background-color: #363636;
  color: #e5e5e5;
}
main .reply .moderation button:hover {
  background-color: #e5e5e5;
  color: #363636;
}
main .reply .reply-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
main .reply .reply-info .user-info {
  display: flex;
  align-items: center;
  width: 50%;
}
main .reply .reply-info .content {
  width: 100%;
  padding: 1rem;
}
main .reply .reply-info img {
  width: 100%;
  height: auto;
  max-width: 30px;
}
main .reply .reply-info .edit-info {
  flex: 1 0 auto;
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
}
main .reply .reply-info .edit-info p {
  margin: 0;
}
main .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #363636;
  color: white;
}
main .pagination button {
  color: white;
  text-decoration: none;
  padding: 1rem;
}
main .editor {
  background-color: #363636;
  color: white;
  margin-top: 1rem;
}
main .editor .ql-toolbar .ql-stroke {
  fill: none;
  stroke: white;
}
main .editor .ql-toolbar .ql-fill {
  fill: white;
  stroke: none;
}
main .editor .ql-toolbar .ql-picker {
  color: white;
}
main .editor .ql-toolbar .ql-picker-options {
  background-color: #363636;
  color: white;
}
main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
main form input {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  font-size: 2.5rem;
  border: none;
  background-color: #363636;
  color: #e5e5e5;
}
main form select {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  font-size: 2.5rem;
  border: none;
  background-color: #363636;
  color: #e5e5e5;
}
main form textarea {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  font-size: 2.5rem;
  border: none;
  background-color: #363636;
  color: #e5e5e5;
}
main form button {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  font-size: 2.5rem;
  border: none;
  background-color: #363636;
  color: #e5e5e5;
}
main form .error {
  color: red;
  font-size: 2.5rem;
}
main .CGU {
  background-color: #363636;
  color: white;
  padding: 1rem;
}
main .CGU h2 {
  font-size: 2.5rem;
  text-align: center;
}
main .CGU dt {
  font-size: 2rem;
  margin: 1rem;
}
main .CGU p:not(dd > p) {
  font-size: 1.6rem;
  margin: 1rem;
}
main .CGU dd {
  font-size: 1.6rem;
  margin: 1rem;
}
main .privacy {
  background-color: #363636;
  color: white;
  padding: 1rem;
}
main .privacy h2 {
  font-size: 2.5rem;
  text-align: center;
}
main .privacy p:not(dl > p) {
  font-size: 1.6rem;
  margin: 1rem;
}
main .privacy dl {
  font-size: 1.6rem;
  margin: 1rem;
}
main .privacy dl ul {
  font-size: 1.6rem;
  margin: 1rem;
}
main .privacy dl ul li {
  font-size: 1.6rem;
  margin: 1rem;
}
main .privacy dt {
  font-size: 2rem;
  margin: 1rem 0;
}

footer {
  background-color: #363636;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.6rem;
}
footer .Link {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .Link a {
  color: white;
  text-decoration: none;
  padding: 1rem 1rem 0 1rem;
}

.password-match {
  border-color: green;
}

.password-not-match {
  border-color: red;
}

/*# sourceMappingURL=style.css.map */
