* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
}

header {
  background-color: #202020;
}
header nav {
  display: flex;
  flex-wrap: wrap;
}
header nav a {
  color: white;
  width: 50%;
  text-align: left;
  padding: 1rem;
  font-size: 2.5rem;
  text-decoration: none;
}
header nav .cta-menu {
  background-color: #202020;
  color: white;
  border: none;
  text-align: right;
  width: 50%;
  padding: 1rem;
  font-size: 3rem;
}
header nav ul {
  display: none;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
}
header nav ul li {
  width: 100%;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  background-color: #202020;
}
header nav ul li:hover {
  background-color: #e5e5e5;
}
header nav ul li:hover a {
  color: black;
}
header nav ul li:hover button {
  color: black;
  background-color: #e5e5e5;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav ul li button {
  color: white;
  font-size: 2.5rem;
  padding: 1rem;
  background-color: #202020;
  border: none;
}
header nav ul.open {
  display: flex;
}
@media (min-width: 768px) {
  header nav ul {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 768px) {
  header nav .cta-menu {
    display: none;
  }
}

main {
  background-color: #363636;
  color: #363636;
  padding: 1rem;
  background-image: url("../../img/1700.jpg");
  min-height: 90vh;
}
main section {
  background-color: #363636;
}
main .action {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #3498db; /* Button color */
  color: #fff; /* Text color */
  border-radius: 50px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
main .action:hover {
  background: #2980b9; /* Darker button color on hover */
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}
main .action:active {
  box-shadow: none;
  transform: translateY(2px); /* Button moves down slightly when clicked */
}
main .action.delete {
  background: #e74c3c; /* Button color */
}
main .action.delete:hover {
  background: #c0392b; /* Darker button color on hover */
}
main .intro {
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  background-color: #363636;
  color: #e5e5e5;
  margin: 1rem;
}
main .public, main .private {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #363636;
  padding: 1rem;
}
main .public h2, main .private h2 {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  color: white;
}
main .public li, main .private li {
  background-color: #363636;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #5e5e5e;
  border-left: 0.5rem solid #920505;
  box-shadow: 0 0 10px 0 #5e5e5e;
}
main .public li a, main .private li a {
  color: white;
  text-decoration: none;
  font-size: 3rem;
}
main .public li p, main .private li p {
  color: #e5e5e5;
}
main .cat-list {
  background-color: #363636;
}
main .cat-list article {
  display: flex;
  align-items: center;
}
main .cat-list article .cat-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
main .cat-list article .cat-box a {
  color: white;
  font-size: 2.5rem;
  padding: 1rem;
  cursor: pointer;
}
main .cat-list article .cat-box p {
  color: #e5e5e5;
  font-size: 1.5rem;
  padding: 1rem;
}
main .cat-list article .post-box {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
}
main .cat-list article .post-box a {
  color: white;
  font-size: 2.5rem;
  padding: 1rem;
  cursor: pointer;
}
main .cat-list article .post-box .recent-info {
  display: flex;
  align-items: center;
}
main .cat-list article .post-box .recent-info p {
  color: #e5e5e5;
  font-size: 1.5rem;
  padding: 1rem;
}
main .cat-list article .post-box .recent-info img {
  width: 100%;
  height: auto;
  max-width: 30px;
}
main .post-list .post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .post-list .post a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
}
main .post-list .post p {
  color: white;
  font-size: 1.5rem;
  padding: 0 1rem;
}
main .post {
  background-color: #363636;
  padding: 1rem;
}
main .post h2 {
  font-size: 2.5rem;
  text-align: center;
  color: white;
}
main .post .post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}
main .post .post-info p {
  font-size: 1.6rem;
  color: white;
}
main .post .post-info .content {
  width: 100%;
  padding: 1rem;
  font-size: 2.5rem;
  color: white;
}
main .post .post-info .update {
  text-align: right;
}
main .post .post-info img {
  width: 100%;
  height: auto;
  max-width: 30px;
}
main .reply {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  color: white;
  background-color: #363636;
  border-top: 1px solid #e5e5e5;
}
main .reply .moderation button {
  padding: 1rem;
  margin: 1rem;
  font-size: 2.5rem;
  border: none;
  background-color: #363636;
  color: #e5e5e5;
}
main .reply .moderation button:hover {
  background-color: #e5e5e5;
  color: #363636;
}
main .reply .reply-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
main .reply .reply-info .user-info {
  display: flex;
  align-items: center;
  width: 50%;
}
main .reply .reply-info .content {
  width: 100%;
  padding: 1rem;
}
main .reply .reply-info img {
  width: 100%;
  height: auto;
  max-width: 30px;
}
main .reply .reply-info .edit-info {
  flex: 1 0 auto;
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
}
main .reply .reply-info .edit-info p {
  margin: 0;
}
main .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #363636;
  color: white;
}
main .pagination button {
  color: white;
  text-decoration: none;
  padding: 1rem;
}
main .editor {
  color: white;
  margin-top: 1rem;
}
main .editor .ql-toolbar .ql-stroke {
  fill: none;
  stroke: white;
}
main .editor .ql-toolbar .ql-fill {
  fill: white;
  stroke: none;
}
main .editor .ql-toolbar .ql-picker {
  color: white;
}
main .editor .ql-toolbar .ql-picker-options {
  background-color: #363636;
  color: white;
}
main .stats h1 {
  font-size: 3rem;
  color: white;
  padding: 1rem;
}
main .stats p {
  font-size: 2.5rem;
  color: white;
  padding: 1rem;
}
main .crud {
  padding-top: 1rem;
}
main .crud .crud-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  margin: 1rem;
  padding: 1rem;
  color: white;
  transition: all 0.5s;
}
main .crud .crud-menu.active {
  background-color: #e5e5e5;
  color: #363636;
}
main .crud .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  visibility: hidden;
  border-radius: 10px;
}
main .crud .content.active {
  max-height: 700px;
  visibility: visible;
}
main .user-Management {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
}
main .user-Management h2 {
  font-size: 2.5rem;
  text-align: center;
}
main .user-Management table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem;
  color: white;
}
main .user-Management table th, main .user-Management table td {
  border: 1px solid #e5e5e5;
  padding: 1rem;
  text-align: center;
}
main .user-Management table th {
  background-color: #363636;
  color: white;
}
main .user-Management table tr:nth-child(even) {
  background-color: #363636;
  color: white;
}
main .user-Management table tr:nth-child(even) a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
main .user-Management table tr:nth-child(odd) {
  background-color: #e5e5e5;
  color: black;
}
main .user-Management table tr:nth-child(odd) a {
  color: black;
  text-decoration: none;
}
main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  background-color: #2c3e50;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
main form legend {
  font-size: 2.5rem;
  color: white;
}
main form label {
  color: white;
}
main form input, main form select, main form textarea, main form button {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  font-size: 2.5rem;
  border: none;
  background-color: #363636;
  color: #e5e5e5;
  border-radius: 5px;
  transition: all 0.3s ease;
}
main form input:focus, main form select:focus, main form textarea:focus, main form button:focus {
  outline: none;
  box-shadow: 0px 0px 10px #3498db;
}
main form button {
  cursor: pointer;
  background-color: #3498db;
}
main form button:hover {
  background-color: #2980b9;
}
main form .error {
  color: red;
  font-size: 2.5rem;
}
main .CGU {
  background-color: #363636;
  color: white;
  padding: 1rem;
}
main .CGU h2 {
  font-size: 2.5rem;
  text-align: center;
}
main .CGU dt {
  font-size: 2rem;
  margin: 1rem;
}
main .CGU p:not(dd > p) {
  font-size: 1.6rem;
  margin: 1rem;
}
main .CGU dd {
  font-size: 1.6rem;
  margin: 1rem;
}
main .privacy {
  background-color: #363636;
  color: white;
  padding: 1rem;
}
main .privacy h2 {
  font-size: 2.5rem;
  text-align: center;
}
main .privacy p:not(dl > p) {
  font-size: 1.6rem;
  margin: 1rem;
}
main .privacy dl {
  font-size: 1.6rem;
  margin: 1rem;
}
main .privacy dl ul {
  font-size: 1.6rem;
  margin: 1rem;
}
main .privacy dl ul li {
  font-size: 1.6rem;
  margin: 1rem;
}
main .privacy dt {
  font-size: 2rem;
  margin: 1rem 0;
}

footer {
  background-color: #363636;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.6rem;
}
footer .Link {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .Link a {
  color: white;
  text-decoration: none;
  padding: 1rem 1rem 0 1rem;
}

.password-match {
  border-color: green;
}

.password-not-match {
  border-color: red;
}

/*# sourceMappingURL=style.css.map */
