$color-primary: #363636;
$color-header: #202020;
$color-secondary: #e5e5e5;
$color-text: white;
$color-background: #292c2e;
$color-success: #2ecc71;
$color-error: #e74c3c;
$form-background: #2c3e50;
$button-background: #0f82af;
$button-color: #222222;

@mixin ellipse {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin link {
        color: #1b75d0;
        text-decoration: underline;
        cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-Italic';
    src: url('./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open-Sans', sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
    background-image: url("../../img/1700.jpg");
}

header {
    background-color: $color-header;

    nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .brand {
            display: flex;
            align-items: center;
            width:66%;

            img {
                width: 100%;
                max-width: 100px;
                padding: 1rem;
            }

            a {
                display: flex;
                align-items: center;
                color: $color-text;
                padding: 1rem;
                font-size: 2.5rem;
                text-decoration: none;
                vertical-align: middle;
            }
        }


        .cta-menu {
            background-color: $color-header;
            color: $color-text;
            border: none;
            text-align:right;
            padding: 1rem;
            padding-right: 3rem;
            font-size: 3rem;
        }

        ul {
            display:none;
            list-style: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            padding: 0;

            a {
                width: 100%;
                text-align: center;
                margin: 1rem;
                padding: 1rem;
                background-color: $color-header;
                text-decoration: none;
                
                li {
                    color: $color-text;
                    text-decoration: none;
                    font-size: 2.5rem;
                }

                &:hover {
                    background-color: $color-secondary;
    
                    li {
                        color: black;
                    }
                }
            }

            button {
                color: $color-text;
                font-size: 2.5rem;
                padding: 1rem;
                background-color: $color-header;
                border: none;
                width: 100%;

                &:hover {
                    background-color: $color-secondary;
                    color: black;
                }
            }
            
        }

        ul.open {
            display: flex;
        }

        @media (min-width: 768px) {
            ul {
                flex-direction: column;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }

        @media (min-width: 1024px) {
            ul {
                flex-direction: row;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                li {
                    width: auto;
                    a {
                        font-size: 2rem;
                    }
                    button {
                        font-size: 2rem;
                    }

                    &:hover {
                        background-color: $color-header;
                        a {
                            color: $color-text;
                            background-color: $color-header;
                            cursor: pointer;
                        }
                        button {
                            color: $color-text;
                            background-color: $color-header;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        nav {
            .cta-menu {
                display: none;
            }
        }
    }

    @media (min-width: 1024px) {
        nav {
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
        }
    }
}

main {
    background-color: $color-background;
    color: #363636;
    padding: 1rem;
    min-height: 90vh;
    max-width: 1440px;
    margin: 0 auto;


    section {
        background-color: $color-background;
    }

    .action {
        display: inline-block;
        padding: 0.5em 1em;
        margin: 0.5em;
        text-decoration: none;
        background: $button-background;
        color: $button-color; 
        border-radius: 50px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    
        &:hover {
            background: #0765a3; /* Darker button color on hover */
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
        }
    
        &:active {
            box-shadow: none;
            transform: translateY(2px); /* Button moves down slightly when clicked */
        }
    }

    .action.delete {
        background: #e74c3c; /* Button color */
        color: #fff;
    
        &:hover {
            background: #c0392b; /* Darker button color on hover */
            color: #fff;
        }
    }

    .success {
        color: $color-success;
        padding: 1rem;
        margin: 1rem;
        text-align: center;
    }

    .error {
        color: $color-error;
        padding: 1rem;
        margin: 1rem;
        text-align: center;
    }

    .modal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;

        p {
            color: #fff;
        }

        .modal-content {
            background-color: $color-primary;
            padding: 1rem;

            .modal-btn {
                display: flex;
                justify-content: space-around;
                align-items: center;

                button {
                    padding: 1rem;
                    margin: 1rem;
                    font-size: 2.5rem;
                    border: none;
                    
                    &:hover {
                        background-color: $color-secondary;
                        color: $color-primary;
                    }
                }
            }

            .positive {
                background-color: $color-success;
                color: #fff;
            }

            .negative {
                background-color: $color-error;
                color: #fff;
            }
        }
    }
    
    
// Home page
    .intro {
        text-align: center;
        padding: 2rem;
        font-size: 2.5rem;
        background-color: $color-primary;
        color: $color-text;
        margin: 1rem 0;

        @media (min-width: 1024px) {
            padding: 1rem 15rem;
        }
    }

    .register {
        text-align: center;
        padding: 2rem;
        font-size: 2.5rem;
        background-color: $color-primary;
        color: #e5e5e5;
        margin: 1rem 0;

        a {
            @include link;
            font-size: 2.5rem;
            padding: 1rem;
        }

        @media (min-width: 1024px) {
            padding: 1rem 15rem;
        }
    }

    .public, .private {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: $color-background;
        padding: 1rem;

            h2 {
                font-size: 2.5rem;
                width: 100%;    
                text-align: center;
                color: $color-text
            }

            ul {
                list-style: none;

                li {
                    background-color: $color-primary;
                    margin: 1rem;
                    padding: 1rem;
                    border : 1px solid #5e5e5e;
                    border-left: 0.5rem solid #920505;
                    box-shadow: 0 0 10px 0 #5e5e5e;
                    a {
                        color: $color-text;
                        text-decoration: none;
                        font-size: 3rem;
                    }
    
                    p {
                        color: $color-text;
                    }
                }
            }
    }
// End of Home page

// List of Category page 

    .cat-list {
        background-color: $color-primary;
        .section-list {

            .top-description {
                display: flex;
                justify-content: space-around;
                color: $color-text;
                border : 1px solid $color-secondary;

                h3 {
                    font-size: 2.5rem;
                    padding: 1rem;
                    width: 50%;
                    border: 1px solid $color-secondary;
                }
            }

            li {
                display: flex;
    
                .cat-box {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 50%;
                    border: 1px solid $color-secondary;

                    div {
                        display: flex;
                        align-items: center;
                        width: 70%;
                        flex-wrap: wrap;

                        p {
                            color: $color-text;
                            font-style: italic;
                            font-size: 1rem;
                            padding: 1rem;
                            width: 100%;
                        }
                    }
    
                    a {
                        color: $color-text;
                        font-size: 2rem;
                        padding: 1rem;
                        cursor: pointer;
                    }
    
                    p {
                        color: $color-text;
                        font-size: 1.5rem;
                        padding: 1rem;
                        width: 30%;
                    }
                }
    
                .post-box {
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 50%;
                    border: 1px solid $color-secondary;
    
                    a {
                        color: $color-text;
                        font-size: 2rem;
                        padding: 1rem;
                        cursor: pointer;
                        @include ellipse;
                    }
    
                    .recent-info {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width:50%;
                        
                        p {
                            color: $color-secondary;
                            font-size: 1.5rem;
                            padding: 1rem;

                            &:first-of-type {
                                @include ellipse;
                            }

                            &:last-of-type {
                                display: none;
                            }

                            @media (min-width: 768px){
                                &:last-of-type {
                                    display: block;
                                }
                            }
                        }

                        img {
                            width: 100%;
                            height: auto;
                            min-width: 20px;
                            max-width: 30px;
                        }
                    }
                }
            }
        }
    }


// End of List of Category page

// List of Post page

    .post-list {
        .post {
            display:flex;
            justify-content: space-between;
            align-items: center;
            background-color: $color-primary;

            .post-yolo {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 50%;

                a {
                    width: 100%;
                    @include ellipse;
                }

                p {
                    width: 50%;
                    text-align: right;
                    @include ellipse;
                }

                img {
                    max-width: 30px;
                }
            }

            .post-info {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 50%;

                p {
                    @include ellipse;
                    font-size: 1.6rem;
                    color: $color-text;
                    width: 100%;
                }
            }
            
            a {
                color: $color-text;
                text-decoration: none;
                padding: 1rem;
                font-size: 2.5rem;
                cursor: pointer;
            }
    
            p {
                color: $color-text;
                font-size: 1.5rem;
                padding: 0 1rem;
            }
        }
    }

// End of List of Post page

// Single Post + Reply page

    .individual-post {
        background-color: $color-primary;
        padding: 1rem;

        h2 {
            font-size: 2.5rem;
            text-align: center;
            color: $color-text;
        }

        .post-info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            padding: 1rem;

            > p {
                font-size: 1.6rem;
                color: $color-text;
                width: 100%;
            }

            .content {
                width: 100%;
                padding: 1rem;
                font-size: 2.5rem;
                color: $color-text;
            }

            .update {
                font-size: 1rem;
                font-style: italic;
                text-align: right;
            }

            img {
                width: 100%;
                height: auto;
                max-width: 30px;
            }
        }
    }

    .reply {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem;
        color: $color-text;
        background-color: $color-primary;
        border-top: 1px solid $color-secondary;

        .reply-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;

            .user-info {
                display: flex;
                align-items: center;
                width: 50%;

                img {
                    width: 100%;
                    height: auto;
                    max-width: 30px;
                }
            }

            .content {
                width: 100%;
                padding: 1rem;
            }
            .edit-info {
                flex: 1 0 auto;
                text-align: right;
                font-size: 0.8em;
                font-style: italic;
    
                p {
                    margin: 0;
                }
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: $color-background;
        color: $color-text;

        button {
            color: $color-text;
            background-color: #2b2a33;
            text-decoration: none;
            padding: 1rem;
            margin: 0.5rem;
        }
    }

    .editor {
        color: $color-text;
        margin-top: 1rem;

        .ql-toolbar .ql-stroke {
            fill: none;
            stroke: $color-text;
        }
        
        .ql-toolbar .ql-fill {
            fill: $color-text;
            stroke: none;
        }
        
        .ql-toolbar .ql-picker {
            color: $color-text;
        }

        .ql-toolbar .ql-picker-options {
            background-color: $color-primary;
            color: $color-text;
        }
    }

// End of Single Post + Reply page

// Admin panel 

    .stats {

        h1 {
            font-size: 3rem;
            color: $color-text;
            padding: 1rem;
        }

        p {
            font-size: 2.5rem;
            color: $color-text;
            padding: 1rem;
        }
    }

    .crud {
        padding-top: 1rem;

        .crud-menu {
            display:flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $color-secondary;
            margin: 1rem;
            padding: 1rem;
            color: $color-text;
            transition: all 0.5s;
    
            &.active {
                background-color: $color-secondary;
                color: $color-primary;
            }
        }
    
        .content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-out;
            visibility: hidden;
            border-radius: 10px;
        
            &.active {
                max-height: 700px; // Adjust this value as needed
                visibility: visible;
            }
        }
    }


    // .user-Management {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     padding: 1rem;
    //     color: $color-text;

    //     h2 {
    //         font-size: 2.5rem;
    //         text-align: center;
    //     }

    //     table {
    //         width: 100%;
    //         border-collapse: collapse;
    //         margin: 1rem;
    //         color: $color-text;

    //         th, td {
    //             border: 1px solid $color-secondary;
    //             padding: 1rem;
    //             text-align: center;
    //         }

    //         th {
    //             background-color: $color-primary;
    //             color: $color-text;
    //         }

    //         tr:nth-child(even) {
    //             background-color: $color-primary;
    //             color: $color-text;
    //             a {
    //                 color: $color-text;
    //                 text-decoration: none;
    //                 cursor: pointer;
    //             }
    //         }

    //         tr:nth-child(odd) {
    //             background-color: $color-secondary;
    //             color: black;
    //             a {
    //                 color: black;
    //                 text-decoration: none;
    //             }
    //         }
    //     }
    // }

    .user-Management {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        color: $color-text;
    
        h2 {
            font-size: 1.5rem;
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 1rem 0;
            color: $color-text;
    
            th, td {
                border: 1px solid $color-secondary;
                padding: 0.5rem;
                text-align: center;
            }
    
            th {
                background-color: $color-primary;
                color: $color-text;
            }
    
            tr:nth-child(even) {
                background-color: $color-primary;
                color: $color-text;
                a {
                    color: $color-text;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
    
            tr:nth-child(odd) {
                background-color: $color-background;
                color: $color-text;
                a {
                    color: $color-text;
                    text-decoration: none;
                }
            }
        }
    
        @media (min-width: 768px) {
            h2 {
                font-size: 2.5rem;
            }
    
            table {
                margin: 1rem;
    
                th, td {
                    padding: 1rem;
                }
            }  
        }
    }

// End of Admin panel
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
        background-color: $form-background;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

        legend {
            font-size: 2.5rem;
            color: $color-text;
        }

        label {
            color: $color-text;
        }

        input, select, textarea, button {
            width: 100%;
            padding: 1rem;
            margin: 1rem;
            font-size: 2.5rem;
            border: none;
            background-color: #363636;
            color: #e5e5e5;
            border-radius: 5px;
            transition: all 0.3s ease;

            &:focus {
                outline: none;
                box-shadow: 0px 0px 10px #3498db;
            }
        }

        button {
            cursor: pointer;
            background-color: #3498db;

            &:hover {
                background-color: #2980b9;
            }
        }

        a {
            @include link;
            font-size: 2.5rem;
            padding: 1rem;
        }
    }

    .CGU {
        background-color: $color-primary;
        color: $color-text;
        padding : 1rem;

        h2 {
            font-size: 2.5rem;
            text-align: center;
        }

        dt {
            font-size: 2rem;
            margin: 1rem;}

        p:not(dd > p) {
            font-size: 1.6rem;
            margin: 1rem;
        }

        dd {
            font-size: 1.6rem;
            margin: 1rem;
        }
    }

    .privacy {
        background-color: $color-primary;
        color: $color-text;
        padding : 1rem;

        h2 {
            font-size: 2.5rem;
            text-align: center;
        }

        p:not(dl > p){
            font-size: 1.6rem;
            margin: 1rem;
        }
        
        dl {
            font-size: 1.6rem;
            margin: 1rem;

            ul {
                font-size: 1.6rem;
                margin: 1rem;
                li {
                    font-size: 1.6rem;
                    margin:1rem;
                }
            }
        }
        
        dt {
            font-size: 2rem;
            margin: 1rem 0;
        }
    }
}

footer {
    background-color: $color-header;
    color: $color-text;
    text-align: center;
    padding: 1rem;
    font-size: 1.6rem;

    .Link {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            color: $color-text;
            text-decoration: none;
            padding: 1rem 1rem 0 1rem;
        }
    }
}
